:root {
    body{
        margin:{
            left:0;
            right:0;
            top:0;
            bottom:0;
        }
        a{
            &:link{
                color:#000;
            }
            &:visited{
                color:#999;
            }
            &:hover{
                color:#f00;
            }
            &:active{
                color:#000;
            }

        }
    }
}

A{
    p:1;
}
A>a>a1,
A>a>a2,
A>a>a3,
A>a>a4{
    p:2;
}
A:hover{
    p:3
}
A>B{
    p:4
}
B{
    q:1;
    @extend A;
}
@media (min-width:220px){
    .page{
        a:1;
       
    }
    @at-root (without:media) a {
        b:32;
    }


}
@import 'unit';
$font-family:"myfount";
@include fontFace($font-family,"/a/b/c"){
    font-weight:normal;
    font-style: italic;
}
a{

    font-family:$font-family;
   
}