html{
    body{
        @mixin base{
            width:100px;
            height: 100px;
            background: #f00;
            margin:0 auto 10px;
        }
        .div3,
        .div4,
        .div5{
            @include base;
        }
        @at-root .div1{
            @include base;
        }
        @at-root .div2{
            @include base;
        }
        
    }
}



.div1{
    background:url(https://www.google.com/logos/doodles/2016/user-birthday-5656109189693440.2-scta.jpg) no-repeat 50%;
    $addPrefix:webkit,moz;
    @import "unit";
    @include addPrefix(
        background-size,contain
    )
}

@import "unit";
@include query{
    .div1{
        width:100%;
       
    }
    @at-root (without:media) .div2 {
        background-color:#f0f;
    }

}

@import 'unit';
$font-family:"myfount";
@include fontFace($font-family,"/a/b/c"){
    font-weight:normal;
    font-style: italic;
}

.test{
   
    font-family:$font-family;
   
}
.div2{

}