//针对屏幕和三种设备尺寸进行的媒体查询
@mixin query($query:phone){
    $device : "screen";
    $phone  : "(max-width:767px)";
    $tablet : "(min-width:768px) and (max-width:991px)";
    $desktop: "(min-width:992px)";
    @if $query == phone{
      @media #{$phone}{
        @content;
      } 
    }@else if $query == tablet{
        @media #{$tablet}{
            @content;
        } 
    }@else if $query == desktop{
        @media #{$desktop}{
            @content;
        } 
    }@else{
        @media #{$query}{
            @content;
        }
    }
    
}

//@font-face
@mixin fontFace($name,$path){
    @font-face {
        font-family: $name;
        src: url('#{$path}.eot');
        src: url('#{$path}.eot?#iefix') format('embedded-opentype'),
             url('#{$path}.woff') format('woff'),
             url('#{$path}.ttf') format('truetype'),
             url('#{$path}.svg#NeuesBauenDemo') format('svg');
        @content;
    }
}

//triangle
%triangle{
    /*triangle default style*/
    border:0px solid transparent;
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
}
@mixin triangle($width:10px,$height:$width/2,$color:#000,$direct:bottom){
    @extend %triangle;
    @if $direct == top{
        border-left-width:$height;
        border-right-width:$height;
        border-bottom:$width $color solid; 
    }@else if $direct == bottom{
        border-left-width:$height;
        border-right-width:$height;
        border-top:$width $color solid;
    }@else if $direct == left{
        border-top-width:$height;
        border-bottom-width:$height;
        border-right:$width $color solid;
    }@else if $direct == right{
        border-top-width:$height;
        border-bottom-width:$height;
        border-left:$width $color solid;
    }
}

